<!DOCTYPE html>
<html>
  <head>
    <link href="http://allfont.net/allfont.css?fonts=ostrich-sans-light" rel="stylesheet" type="text/css" />
    <title>Favorite Things</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script src="https://use.fontawesome.com/f6bd501eb7.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
<body ng-app="app" ng-controller="myController">
          <div class="main-content secondary-font">
                <div class="border-pic">
                       <a href="index.html"><div class="logo"></div></a>
               </div>
                <header>
                        <span class="categoryStyle"
                        ng-click="categoryClick(menu)"
                        ng-repeat="menu in categoryList">{{menu.name}}
                        </span>
                </header>
              <ul ng-repeat="list in categoryList | filter: {name: currentCategory.name}">
                <div class="menu-container">
                     <li ng-click="meetWho(skill)" ng-repeat="skill in list.talent">{{skill.name}}</li>
                      <span ng-repeat="skill in list.talent"></span>
                </div>
             </ul>
             <div class="press-pic-container" ng-repeat="photo in press">
                         <header class="press-header">
                              <h1>{{photo.name}}</h1>
                              <h2><a ng-href="{{photo.link}}" target="_blank">Click Me</a></h2>
                         </header>
                         <span><img class="presspic" ng-src="{{photo.image}}"></span>
            </div>
  </div>
       <footer>
            <a href="http://facebook.com/noelelieproductions" target="_blank" class="fa fa-facebook"></a>
            <a href="http://instagram.com/noel_elie" target="_blank" class="fa fa-instagram"></a>
            <a href="http://twitter.com/noel_elie" target="_blank" class="fa fa-twitter"></a>
            <a href="http://pinterest.com/noelelie" target="_blank" class="fa fa-pinterest"></a>
            <a href="http://www.imdb.me/noelelie" target="_blank" class="fa fa-imdb"></a>
</footer>
</body>

  <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="index.js"></script>
</html>
