<!DOCTYPE html>
<html>
  <head>
    <title>Noelle Graditude</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script src="https://use.fontawesome.com/f6bd501eb7.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    

  <body class="background-image" ng-app="app" ng-controller="myController">
    <div class="main-content">

        <a href="index.html">  <img src="NoelPuck/logo.PNG" style="width: 233px;height: 89px;" /></a>
          <header>
              <span class="categoryStyle"
              ng-click="categoryClick(menu)"
              ng-repeat="menu in categoryList">{{menu.name}}
              </span>

          </header>
          <ul ng-repeat="list in categoryList | filter: {name: currentCategory.name}">
            <div class="menu-container">
               <li class="list-font" ng-click="meetWho(skill)" ng-repeat="skill in list.talent">{{skill.name}}</li>
                 <span class="bio-container" ng-repeat="skill in list.talent | filter: {about: currentTeam}">
                       <p>{{skill.about}}</p>
                 </span>
            </div>
          </ul>
          <div class="testimonial-text-container">
                    <span class="testimonial-container">
                        <img src="NoelPuck/testimonial0.jpg">
                    </span>
                    <span class="paragraph-container1">
                      <h1>Kris Carr</h1>
                      <h3><i>New York Times best Selling Author</i></h3>
                          <p>Working with Noel is a dream come true! Shes an
                             impeccable event producer whos detail oriented, supportive,
                             and forward­ thinking. When I work with Noel, Im able to focus
                             on what matters most, delivering my message. She takes care of
                            the rest!
                          </p>
                    </span>
                    <span class="paragraph-container2">

                    </span>
          </div>
          <div class="testimonial-text-container">
            <span class="testimonial-container">
                <img src="NoelPuck/testimonial1.png">
            </span>
            <span class="paragraph-container22">
                  <h1>Latham Thomas</h1>
                  <h3><i>Speaker, Author, & Founder of Mama Glow</i></h3>
                  <p>Noel Elie is the goddess of masterful organization and
                     thoughtfulexecution. She pays such incredible attention
                     to detail and has a remarkable way of keeping her cool
                     regardless of the circumstances. She seeks to truly
                     understand the needs of her client and delivers
                     above and beyond the call of duty. She is a delightful spirit,
                  </p>
            </span>
            <span class="paragraph-container2">
                  <p>a strategist, and forward thinking. Her peculiar talent for
                     anticipating her clients needs is unparalleled. Noel & her
                     team worked the launch of my book party sponsored by Morgan
                     Stanley and Rebecca Minkoff and the night was incredible thanks
                     to her meticulous care. Noel also produced a fundraiser for me that
                     was a huge success!
                  </p>
            </span>

          </div>
          <div class="testimonial-text-container">
            <span class="testimonial-container">
                <img src="NoelPuck/testimonial2.jpg">
            </span>
            <span class="paragraph-container1">
              <h1>Patricia Moreno</h1>
              <h3><i>Best Selling Author, Speaker, & Founder of IntenSATI</i></h3>
                  <p>Its such a pleasure to get to work with Noel & her team.
                     Create Your Dream Year was a great success and we couldnt
                     have done it without her! She is professional, creative,
                     and passionate about what she does­ making what could be a
                     stressful experience, quite a pleasure!
                  </p>
            </span>
            <span class="paragraph-container2">

            </span>

          </div>
          <div class="testimonial-text-container">
            <span class="testimonial-container">
                <img src="NoelPuck/testimonial5.jpg">
            </span>
            <span class="paragraph-container1">
              <h1>Meggan Watterson</h1>
              <h3><i>Best Selling Author, Speaker, & Founder of REVEAL</i></h3>
                  <p>Noel is an angel & an organizational ninja all rolled into
                     one beautiful package. She is so masterful at creating the
                     flow of an event that I am left to do what I do best
                     without being distracted by the details that used to overwhelm me.
                     If you are looking to create a flawless event, big or small,
                     look no further! Noel Elie Productions is it!
                  </p>
            </span>
            <span class="paragraph-container2">

            </span>

          </div>
          <div class="testimonial-text-container">
            <span class="testimonial-container">
                <img src="NoelPuck/testimonial3.png">
            </span>
            <span class="paragraph-container1">
              <h1>Terri Cole</h1>
              <h3><i>LCSW Licensed Psychotherapist, Speaker, and Transformation Coach</i></h3>
                  <p>Noel makes me feel so entirely provided for!
                     I never worried once during any of my events.
                     She took care of absolutely every detail which allowed me
                     to just be fully present and entirely there­ a rare and
                     invaluable gift
                  </p>
            </span>
            <span class="paragraph-container2">

            </span>

          </div>
          <div class="testimonial-text-container">
          <span class="testimonial-container">
              <img src="NoelPuck/testimonial4.jpg">
          </span>

          <span class="paragraph-container22">
              <h1>Joel Readence</h1>
              <h3><i>Lifecoach</i></h3>
                <p>Working a full time job and growing a coaching practice
                   allowed me ZERO time to plan and execute a charity
                   fundraiser for 250+ people.
                   Hiring Noel was the best possible thing I could have done!
                   Her in­depth knowledge of event planning and execution,
                   ability to negotiate contracts and pricing, target and

                </p>
          </span>
          <span class="paragraph-container2">
                <p>enlist sponsors, and utilize her extensive network of
                connections ensured a VERY successful event and a new
                fundraising record for my charity fund!
                </p>
          </span>
          </div>


    </div>
      <footer>
             <a href="http://facebook.com/noelelieproductions" target="_blank" class="fa fa-facebook"></a>
             <a href="http://instagram.com/noel_elie" target="_blank" class="fa fa-instagram"></a>
             <a href="http://twitter.com/noel_elie" target="_blank" class="fa fa-twitter"></a>
             <a href="http://pinterest.com/noelelie" target="_blank" class="fa fa-pinterest"></a>
             <a href="http://www.imdb.me/noelelie" target="_blank" class="fa fa-imdb"></a>
      </footer>
</body>

  <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="index.js"></script>
</html>
