body{
  background-color: white;
  text-align: center;
  color: grey;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

header{
  width: 100%;
  background-color: transparent;
  padding: 10px;
  border-top-style: solid;
  border-color: #edc3cc;
}

.main-content{
  padding: 50px;
}



a{
  text-decoration: none;
}

li a{
  color: black;
  font-size: 15px;
  padding: 5px;
}

li a:hover{
text-decoration: none;
color: #edc3cc;
background-color: black;
border: solid #edc3cc 2px;
}


h2{
  text-decoration: none;
}

.testimonial-text-container h1{
  font-size: 25px;
  font-style: italic;
  color: black;
}

.testimonial-text-container h2{
  font-size: 18px;
  font-style: italic;
  color: grey;
}

.border-pic{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(NoelPuck/background.jpg);
  text-align: -webkit-center;
  height: 320px;
}

.logo{
  width: 233px;
  height: 125px;
  position: relative;
  top: 195px;
  background-position: center;
  background-size: cover;
  text-align: -webkit-center;
  background-image: url(NoelPuck/logo.png);
}

.home-page-pic, .meetNoel-page-pic, .contact-pic{
  background-position: center;
  background-size: contain;
  background-image: url(NoelPuck/100);
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
}

.meetNoel-page-pic{
  background-image: url(NoelPuck/102);
}

.contact-pic{
  background-image: url(NoelPuck/103);
}

.contact-container{
  text-align: center;
  position: relative;
  width: 100%;
}

.contact-list{
  list-style-type: none;
  text-align: center;
  display: inline;
}

.fa-hand-o-up{
  font-size: 30px;
  margin: 10px;
}

.menu-container{
  position: relative;
  background-size: cover;
  background-color: white;
  padding: 10px;
  display: block;
  text-align: left;
}

.menu-container li{
  padding: 5px;
  display: block;
}

.list-font{
  color: black;
  font-style: italic;
}

.categoryStyle{
  font-size: 12px;
  padding: 9px;
  color: grey;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.categoryStyle:hover{
  background-image: url(NoelPuck/7.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

footer{
  background-color: #edc3cc;
  width: 100%;
  height: 75px;
  color: grey;
  text-align: center;
  bottom: 0;
  right: 0;
  position: relative;
  background-image: url(NoelPuck/background.jpg);
  background-size: cover;
}

.fa-facebook, .fa-instagram, .fa-pinterest, .fa-twitter, .fa-imdb{
  font-size: 35px;
  padding: 10px;
  display: inline-block;
  color: white;
}



p{
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.gallery-button{
	cursor: pointer;
	background: black;
	position: fixed;
	z-index: 100;
	color: #edc3cc;
	padding-bottom: 10px;
	padding-top: 0px;
	padding-right: 5px;
	padding-left: 5px;
	text-align: center;
	top: 50%;
	font-family: ailerons;
	margin: 0px;
	display: none;
	padding: 7px 16px;
	font-size: 30px !important;

	-webkit-transition: background-color .5s, color .5s;
	-o-transition: background-color 	 .5s, color .5s;
	transition: background-color 		 .5s, color .5s;
}

.gallery-button.fa{
	display: none;
}

.gallery-button:hover{
	background-color: white;
	color: #black;
}

.gallery-button.turned-on{
	display: inline-block;
}

.full-size-image{
	/*background-color: rgba(255, 255, 255, 0.70);*/
  background-color: #edc3cc;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 11;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	display: none;
}

.full-size-image .close-button{
	color: black;
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 30px;
	cursor: pointer;
	-webkit-transition: color 0.3s;
	-o-transition: color 	  0.3s;
	transition: color 		  0.3s;
}

.full-size-image .close-button:hover{
	color: white;
}

.picture-container .gallerypic{
	cursor: pointer;
	color: black;
	width: 250px;
	height: 250px;
	background-size: cover;
	background-position: center;
	line-height: 100px;
	position: relative;
	overflow: hidden;
	padding: 10px;
	margin: 5px;
	background-repeat: no-repeat;
	transition: transform .3s, -webkit-filter .3s;
	/*-webkit-filter: grayscale(100%);*/
}

.picture-container{
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;

	flex-direction: row;
	-webkit-flex-direction: row;

	justify-content: center;
	-webkit-justify-content: center;
}

.picture-container .gallerypic:hover{
	transform: scale(1.05);
	-webkit-filter: grayscale(0%);
}

.testimonial-pic-container{
  position: relative;
  overflow: hidden;
}

.testimonial-pic{
  width: 200px;
	height: 200px;
  border-radius: 50%;
	background-size: cover;
	background-position: center;
	position: relative;
	padding: 10px;
	margin: 10px;
	background-repeat: no-repeat;
  top: 0;
  left: 0;
  float: left;
}

.testimonial-paragragh{
  color: black;
  font-style: italic;
  position: relative;
  top: 0;
  margin: 10px;
  padding: 5px;
  float: right;
  font-size: 15px;
}



#next-button{
	right: 0px;
}

#prev-button{
	left: 0px;
}

.bio{
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  font-size: 16px;
}

.testimonial-text-container{
  text-align: left;
  background-position: center;
  position: relative;
  margin-bottom: 10px;
  padding: 5px;
  margin-top: 30px;
}

#mc_embed_signup{
background: #fff;
clear: left;
font: 14px Helvetica,Arial,sans-serif;
}

@media (min-width: 320px)
 and (max-width: 768px) {
  body{
     /*background-color: red;*/
     }
.logo{
  top: 60px;
  width: 219px;
  height: 90px;
  background-size: contain;
  background-repeat: no-repeat;
     }
.categoryStyle{
    display: block;
    font-size: 10px;
    padding: 5px;
     }
.border-pic{
    height: 150px;
    width: 225px;
     }
.home-page-pic{
    height: 125px;
    width: 200px;
    }
.menu-container{
    left: -15px;
    }

}

@media (min-width: 331px)
 and (max-width: 351px) {

.border-pic{
    width: 270px;
     }
}

@media (min-width: 352px)
 and (max-width: 375px) {

.border-pic{
    width: 275px;
     }
}

@media (min-width: 362px)
 and (max-width: 375px) {

.border-pic{
    width: 300px;
     }
}

@media (min-width: 376px)
 and (max-width: 400px) {

.border-pic{
    width: 315px;
     }
}

@media (min-width: 401px)
 and (max-width: 425px) {
  body{
     /*background-color: purple;*/
     }
.border-pic{
    width: 325px;
     }
}

@media (min-width: 426px)
 and (max-width: 768px) {
  body{
     /*background-color: white;*/
     }
  .border-pic{
    width: 100%;
    height: 200px;
    position: relative;
    left: 0;
     }
.home-page-pic{
    width: 300px;
    height: 178px;
}
}

@media (min-width: 1400px)
 and (max-width: 1900px) {
.testimonial-pic{
     width: 250px;
     height: 250px;
    }
}

 @media (min-width: 1900px)
  and (max-width: 2900px) {
body{
      /*background-color: green;*/
      }

}
