body{
  background: black;
  padding: 50px;
  text-align: center;
  color: #08E6E6;
  font-family: Arial;
}

li{
list-style: none;
padding: 6px;
text-align: center;
}

.buttonStyle{
  font-size: 30px;
  display: inline-block;
  text-align: center;
  border: 1px solid;
  border-color: #005F5F;
  padding: 20px;
  cursor: pointer;

}

h1{
  display: none;
  text-align: center;
}

.client-list-style{
  font-size: 20px;
  display: inline-block;
  text-align: center;
  border: 1px solid;
  border-color: #005F5F;
  padding: 20px;
  cursor: pointer;
}
